//#############################Light-theme#######################
$main-color: #1890ff;
$main-background-color: #ffffff;
$header-background-color: #ffffff;
$font-color: #172b4d;
$aside-background-color: #fdfdfd;
$links-hover-color: rgba(0, 0, 0, 0.1);
$secondary-text: #727272;
$secondary-text-hover: #a2a2a2;
$column-container-background: #ececf1;
$button-background-color: #f5f5f8;
$input_background: #f1f1f1;
$input-border: #8a8a8a;
$button-task-hover: #dadada;






//#############################Dark-theme#######################
//$main-color: #10b9c5;
//$main-background-color: #383838;
//$header-background-color: #212121;
//$font-color: #ffffff;
//$aside-background-color: #2a2a2a;
//$links-hover-color: rgba(0, 0, 0, 0.1);
//$secondary-text: #d0d0d0;
//$secondary-text-hover: #b4b4b4;
//$column-container-background: #4e4e4e;
//$button-background-color: #3d3d3d;
//$input_background: #3f3f3f;
//$input-border: #4b4b4b;

