@import 'src/styles/variables';
@import 'src/styles/mixins';

.sprint-launch-container{
  position: fixed;
  width: 500px;
  height: 500px;
  left: calc(50% - 250px);
  top: calc(50% - 250px);
  background-color: $main-background-color;
  z-index: 5;
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  h2 {
    font-size: 2.6rem;
    margin-bottom: 30px;
  }

  .primary-button-submit {
    span{
      color: #ffffff;
    }
  }

  .start-sprint-buttons {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}

.sprint-wrapper {
  position: fixed;
  width: 100vw;
  top: -64px;
  left: 0;
  height: calc(100% + 64px);
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
}
